.masthead {
  height: 75vh;
  min-height: 200px;
  background-image: url("../../images/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#masthead-margin{
  margin: auto;
}

#masthead-text1{
  font-size: 45px;
  color: white;
}

#masthead-text2{
  font-size: 30px;
  color: white;
}

.click-here-scrape:hover {
  cursor: pointer;
  font-style: oblique;
}

a:hover {
  text-decoration: none;
}
