.card-height {
  height: 200px;
  /* min-height: 250px; */
}

.user-edit-account:hover {
  cursor: pointer;
}

.delete-note:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .note-button, .delete-button {
    font-size: small;
    padding: 2px;
  }
}
